.feature-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.feature-card-container {
  display: flex;
  gap: 25px;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card-container {
  flex: 1 1 calc(33.333% - 25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  background-color: hsl(206, 21%, 94%);
  gap: 30px;
  padding-bottom: 40px;
}

.top-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 30px;
}
.icon-container {
  background-color: rgba(124, 58, 237, 0.1);
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon {
  height: 24px;
  width: 24px;
  color: #7c3aed;
}

.card-header-text {
  font-size: 20px;
  font-weight: 500;
  color: rgb(47, 51, 56);
}

.card-body-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: normal;
  color: rgb(75 85 99);
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 350px;
  text-align: center;
}
